<div class="jumbotron">
  <h1 class="market-heading">About</h1>
  <div class="well well-sm">
    <p>Market Search is a resource for finding USDA approved Farmers Markets near you, based on Zip code.</p>
    <p>The data offered is not always complete or up to date. If you have corrections or updates please get in touch with the Farmers Market and Local Food Marketing representitive from the USDA
    <a href="https://www.ams.usda.gov/about-ams/contact-us">here</a>.</p>
    <h3>See this project on GitHub <a href="https://github.com/faterror/MarketSearch"><i class="fa fa-github-square" aria-hidden="true"></i></a></h3>
  </div>
</div>
